body {
    display: flex;
    height: 98vh;
    margin-top: 0;
    margin-bottom: 0;
}

.sidebar {
    background-image: url(/assets/music-background.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 35%;
    align-items: center;
}

.logo {
    flex: 1;
}

.credit {
    padding-bottom: 1rem;
    color: hsl(231, 91%, 25%);
}

.credit a {
    color: hsl(231, 91%, 25%);
}

.container {
    display: flex;
    flex-direction: column;
}

.italic {
    font-style: italic;
}

.top {
    flex: 1;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 30px;
    padding-top: 100px;
    background-color: hsl(0, 0%, 95%);
    padding-right: 20%;
}

.middle {
    flex: 1;
    padding-left: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

form {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 60%;
}

.do-this {
    font-size: 1.5rem;
    padding-top: 10px;
}

.bottom {
    flex: 1
}

.input {
    display: flex;
    flex-direction: column;
}

input {
    max-width: 200px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
}

input:focus {
    border: 1px solid blue;
    outline: none;
    box-shadow: 2px 2px 2px lightgrey;
}

input:invalid {
    border-color: red;
}